[2014-04-02 09:53] yanping opened #1 "Is it only for Linux?"
Can I use it on windows?

[2014-04-08 10:31] yanping opened #2 "Can you give some tutorials？"

[2014-04-10 10:07] #1 closed, assigned to nobody

[2014-04-10 10:07] #2 closed, assigned to nobody

[2014-06-09 03:57] rsynnest opened #3 "R Process Not Starting"
First of all thank you very much for the great package, very simple and elegant PHP to R interface.
My issue is that when I make a call to 'write' with the following syntax:

[code]

I get the following error:

[code]

I am new to Composer and namespaces, so it could be an issue there, but I can execute in batch mode (ie:  `$result = $r->run('x = 100')`) with no problems.
Possibly related, I did g

[2014-06-09 19:51] #3 closed, assigned to nobody

[2014-07-25 23:29] flyingabove opened #4 "Tutorial?"
Do you have any beginners tutorials for installation?

[2014-07-29 11:12] #4 closed, assigned to nobody

[2015-01-18 17:07] marciovsena opened #5 "Import library"
I'm in need import libraries in my R code, but is giving the following error.

[code]

Result:
[code]

[2015-01-20 12:14] kachkaev commented on #5
Hi @marciovsena,

By default R outputs some messages into error output not to mix them with results of calculations etc. Here is what you can normally see in RStudio:

Red text is what you’d get in ```$rProcess->getErrors()``` if you used PHP-R. I’d recommend you to simply ignore these errors – they should not negatively influence any of your further commands. Also have a look at method ```getLast

[2015-01-22 07:27] kbvstmd commented on #5
Hi @marciovsena ,
did you use this pacage in windows now?How to do it?

[2015-01-22 18:57] marciovsena commented on #5
I am using MAC OS

[2015-03-03 12:36] EstherGon opened #6 "class RCore not found"
use Kachkaev\PHPR\RCore;
use Kachkaev\PHPR\Engine\CommandLineREngine;
$r = new RCore(new CommandLineREngine('/usr/bin/R'));

$result = $r->run(<<<EOF

e<-0.4
p<-0.3
pse<-0.2

e+p

EOF
    );

echo $result;

when I use this Rcode or other Rcode appear class RCore($r = new RCore(new CommandLineREngine('/usr/bin/R'));)  not found , what happen ? tnx !

[2015-03-03 13:02] kachkaev commented on #6
Hi @EstherGon,

Please make sure that PHPR classes have been loaded. If you are not using a framework that does this for you, you should link to all PHPR php filess manually. See http://php.net/manual/en/language.oop5.autoload.php for more details.

[2015-03-04 11:39] #6 closed

[2015-03-08 09:10] AhmedAly90 opened #7 "can not start"
i use php-r but it give me an error
 Fatal error: Uncaught exception 'Kachkaev\PHPR\Exception\RProcessException' with message '''' is not recognized as an internal or external command, ' in C:\xampp\htdocs\R\src\Kachkaev\PHPR\Process\CommandLineRProcess.php:31 Stack trace: #0 C:\xampp\htdocs\R\src\Kachkaev\PHPR\Process\AbstractRProcess.php(37): Kachkaev\PHPR\Process\CommandLineRProcess->doStart()

[2015-03-08 11:44] kachkaev commented on #7
Hi @AhmedAly90,

It looks like PHP can't locate R. Default path "'/usr/bin/R" usually works for linux/unix, but is not likely to be the same on Windows. You should change this according to where R is installed in your system (php-r is not a replacement of R, it's just a bridge to it). Whatever path to R interpreter you define, the command should work in the console outside PHP. When you enter "/pa

[2015-03-08 12:14] AhmedAly90 commented on #7
i give the path on my windows but it doesnot work
$r = new RCore(new CommandLineREngine('C:/Program Files/R/R-3.1.2/bin/x64/R.exe'));
$rProcess = $r->createInteractiveProcess();
+$rProcess->start();
$rProcess->write('x=10');
$rProcess->write('N=10');
$rProcess->write('png(filename="temp.png", width=500, height=500)');
$rProcess->write(' hist(x, col="lightblue")');
$rProcess->write('plot(x,N)');
$r

[2015-03-08 20:20] kachkaev commented on #7
I just did a couple of experiments on a virtual windows machine (which does not have R) and concluded that the issue actually might be related to a problem in library code. Could you please try opening   php-r/src/Kachkaev/PHPR/Process/CommandLineRProcess.php and replace line 28?

    sprintf("'%s' --silent --vanilla", $this->rCommand)
    ↓
    sprintf("\"%s\" --silent --vanilla", $this->rCommand

[2015-04-14 22:50] jackdp commented on #7
Hi @kachkaev,

Very cool library. Thank you for sharing it.

I used your library yesterday and got to a point where I tried your solution on Winodows. It solves the problem of not being able to find R on a Windows filesystem. After that though, my command hangs on line 37 for the following:

[code]

I don't know if you want to create a new issue for that issue or not. If I find a solution, I'll ma

[2015-04-15 10:08] kachkaev commented on #7
Hi @jackdp,

Unfortunately I currently don’t have enough resources to investigate PHP-R problems on Windows, so if you could run your own little investigation, that would be really great! Looking forward for your thoughts or pull requests.

[2015-04-15 18:31] jackdp commented on #7
On line 36 of php-r/src/Kachkaev/PHPR/Process/CommandLineRProcess.php, stream_set_blocking is returning false. From what I found on http://php.net/manual/en/function.stream-set-blocking.php and other sources, that function doesn't on Windows.

When I had $pipes[2] errors write to a error.log file, I was successfully. What are your thoughts on writing files to a error log vs reading them from conso

[2015-04-16 20:03] jackdp commented on #7
I tried writing errors to a log instead of reading them using the pipe. It isn't the correct solution in my opinion.

I went ahead made a pull request for your update above, if you want to merge: https://github.com/kachkaev/php-r/pull/8.

[2015-04-19 18:09] drazik commented on #7
Does the library works with your PR @jackdp ? If yes, @kachkaev can you merge it, so we can use the library on windows and fix other bugs if there are some ?

[2015-04-20 12:48] jackdp commented on #7
@drazik No, it addresses the first issue of not being to run the command on the Windows command linke. The second issue still persists though where it hangs when it tries to read errors.

[2015-04-21 12:33] tejra opened #9 "Fatal error: Class 'Kachkaev\PHPR\RCore' not found"
I am using php-r package to use R script from php but it is showing error.
Fatal error: Class 'Kachkaev\PHPR\RCore' not found

<?php
use Kachkaev\PHPR\RCore;
use Kachkaev\PHPR\Engine\CommandLineREngine;

//showing error here
$r = new RCore(new CommandLineREngine('/usr/bin/R'));

$result = $r->run(<<<EOF
x = 1
y = 2
x + y
x + z
x - y
EOF
    );

echo $result;
?>

[2015-04-21 20:28] kachkaev commented on #9
Hi @tejra,

Please see issue #6 for what to do. Hope it helps.

[2015-04-21 20:28] #9 closed

[2015-04-21 20:37] kachkaev commented on #7
@jackdp, thanks for your PR, I merged it. I agree that writing to a file instead of a pipe is a slightly odd solution, but I would not reject it right away just because it does not look ideal at first glance. Anyway I think it's pretty important to understand what's exactly going on with the pipe windows before making any changes. Please let me know if you find any clues.

[2015-04-21 20:59] drazik commented on #7
Fine, I will investigate too.

[2015-04-27 23:16] jackdp commented on #7
@drazik, can you try my fork of php-r from https://github.com/jackdp/php-r and tell me if you have any problems?

[2015-04-28 11:45] drazik commented on #7
I can't try it right now but i'll let you know asap.

[2015-04-29 23:20] jackdp opened #12 "Add Proper Comments Where Needed"
When I was working on a solution to run php-r on Windows and I saw several files without comments and proper styling. When it is appropriate (likely after the Windows fix is merged), I want to add proper comments to necessary files.

[2015-05-04 07:08] kachkaev commented on #12
Hi @jackdp,

What do you mean by ‘proper styling’? As far as I remember, the code of php-r follows [PSR-2](http://www.php-fig.org/psr/psr-2/) (but I can be possibly wrong).

Where exactly do you think the new comments would be useful? In my opinion, an ‘ideal code’ is one that has no comments at all as it can be understood without them. The only exception is PHPDOC for the API (```/** */```), whic

[2015-05-04 17:11] jackdp commented on #12
@kachkaev, my apologizes for inconsistent word choice. I was only talking comments. The style is fine.

I believe any file that doesn't have summarize comments should have them. An example of summarize comments would be https://github.com/jackdp/University-Work/blob/master/Full%20Cybike%20Survey/src/Bikeshare/Bikeshare/Services/SpinText.php. Above each variable and function there are such comments

[2015-05-05 20:25] drazik commented on #7
Hello @jackdp , I'm sorry to have let 7 days pass before testing your fork.

I have just installed it and tried the first example of the documentation :

[code]

Here is the error I get :
[code]

Let me know if I have done something wrong ;)

[2015-05-08 00:09] jackdp commented on #7
Try this something like this. Make sure you have a file to write errors to.

[code]

[2015-05-08 19:55] drazik commented on #7
I tried it, I get an error un errors.txt :

[code]

I don't know what the english version of the error is, but it means "'C:/Program' is not an internal or external command, an executable program or a command file".

I tried to replace `$r = new RCore(...);` with

[code]

It solved the problem (no more error in errors.txt), but still no result in the browser. The PHP server output this error :

[c

[2015-05-10 17:58] jackdp commented on #7
@drazik Using your updated CommandLineREnigne constructor still works for me.

The problem you are facing that CommandLineREnigne can R.exe. In your original posting, you had R-3.2.0 vs the R-3.1.3 which I'm using. Can you update yours to use R-3.2.0 like you did in your original posting?

[2015-05-10 20:44] drazik commented on #7
@jackdp I've always been using 3.2.0 but I forgot to change the version number during a copy/paste to my github comment ;)

I'm doing exactly what you told me in your last comment and still reach max execution time. I don't think that the problem is that CommandLineREngine can't find R.exe. I fails on src\Kachkaev\PHPR\Process\CommandLine\AbstractCommandLineRProcess.php line 54 everytime. It does

[2015-05-12 01:01] jackdp commented on #7
@drazik If it's related to not to finding R.exe, I'm not sure how to reproduce the problem. While I look for another way to reproduce the problem, can you try two things for me?

1.) Check your errors.txt after you get the error related to reaching max execution time. It may hold some clues. If it says anything, please report it.

2.) Can you put this for the constructor for Kachkaev\PHPR\Engine\C

[2015-05-14 10:28] deios0 opened #13 "PHP hangs after sometimes after calling '$runner->run($code)'"
Sometimes we catch strange behavior of R-PHP

When we run something like this:
[code]

where $code = multiline code
 $code =<<<EOF
...
EOF;

We get the following output:
[code]

As you can see, here the command `print(toJSON(total_count)) ` and its output is inside an output of another command.

Also, sometimes PHP hangs and the process is waiting something
[code]
We are thinking that this cases h

[2015-05-14 22:04] #13 closed

[2015-05-14 22:07] kachkaev commented on #13
@deios0 sent me an email with a detailed cause of the problem and with a way of solving it. The issue is now marked as closed – thanks to him and the guys in his team.

Please add a comment below if something is still wrong.

[2015-05-20 15:30] #12 closed

[2015-06-03 22:16] jesusvazquez opened #14 "Rprocess->write takes too much time"
Hi,

I'm trying to perform something with your repo. I found it really easy to use. Something weird is happening to me.
I have this php class with a structure like this:

$r = new RCore(new CommandLineREngine('/usr/bin/R'));
$rProcess = $r->createInteractiveProcess();
$rProcess->start();
$rProcess->write(<<<EOF
//////// BIG SCRIPT
EOF
    );

$rProcess->write(<<<EOF
///////// GET SOME VARIABLE VAL

[2015-06-05 08:03] kachkaev commented on #14
Hi @jesusvazquez,

What operating system are you running the script in? What is the code version? There used to be a bug similar to what you are describing, but it must have been resolved 20 days ago (see #13).

[2015-06-05 16:55] jesusvazquez commented on #14
Hi @kachkaev

It's running under the Laravel's vagrant box called Homestead http://laravel.com/docs/4.2/homestead  which is an Ubuntu 64 bit machine.

R is 3.1.1
php-r composer dependency is "kachkaev/php-r": "1.0.*@dev" and it says it's updated.
PHP is 5.6.6

[2015-06-08 09:21] kachkaev commented on #14
This problem can be related to some issues with the pipes, through which the data comes from R to PHP. Unfortunately it won't be possible for to me to see your bug in action, but I can suggest looking at these lines: 541f68a9b60c99eeb2f95ca511ab6ca67f18116e. If you try debugging what's in $out, this might be a clue to a solution with hanging. It is possible that one of the while loops keeps loopin

[2015-06-08 09:44] jesusvazquez commented on #14
Right now I'm kinda bussy. I solved it manually using exec(), opening an R process and reading the output.

I would like to do it with your library so when I have more time I'll try to check it out.

Best Regards.

[2015-06-14 16:31] ukebako opened #15 "Test run returns > options(error=expression(NULL)) on Ubuntu"
Hi.
I run the following code:
[code]
On my Mac it works as expected, on when I run it on Ubuntu server it returns just
[code]

[2015-06-14 22:28] kachkaev commented on #15
Hi @ukebako,

I haven't tested the code in ubuntu, so there might be problems as you describe. Feel free to contributed to the repository by submitting a pull request if you find a robust and cross-platform solution to what you've discovered.

[2015-06-15 13:18] gb5256 opened #16 "$rOutputParser->numericVector does not work for Quantile return from R"
If I try this:
$rProcess->write('quantile(data, c(0.25, 0.5, 0.75), type = 6)');
and then do a
$rOutputParser->numericVector
The output will cut off the first number of the 0.25 quantile result.
The problem might lay in the fact, that the output from R has a linebreak inside.

gb5256

[2015-06-15 13:21] kachkaev commented on #16
I acknowledge that there might be problems with the parser as I haven't tested it much. Thank you @gb5256 for spotting this one in particular. Could you please trying to patch the code and submit a PR? I'll merge it if it does not break existing stuff.

[2015-06-15 13:52] gb5256 commented on #16
I can help you where the problem is.
The below output shows some return from R. In the middle section is the Quantile output.

[1] 220
[1] 169
  25%   50%   75%
147.5 160.0 195.0
[1] 13.45362
[1] 30.08322
[1] 51

As you see, it does not start with the [1]. But your parser looks for the bracket.
Line 45 of your parser says:
 $numbersAsStr = substr($row, strpos($row, ']') + 1);
As the position of th

[2015-06-15 13:58] #16 closed

[2015-06-15 13:58] kachkaev commented on #16
Cool, cheers!

[2015-07-15 05:54] tallsam commented on #14
I just hit this issue as the R script was outputting data using cat(). All working now though. Cheers.

[2015-07-27 18:34] demoreno opened #17 "Path to R"
Good afternoon, alexander, greetings from Venezuela, first of all thank you for providing this solution Connection to R, I'm trying to implement this solution to a personal project, but I have an issue with the way R, I am working on windows and I should not placed exactly try to invoke the .exe in the root folder R without positive results. Could you tell me to be placed in that parameter?

Thank

[2015-07-29 11:19] kachkaev commented on #17
Hi @demoreno,

I haven't tried the library on Windows myself, but there is a discussion of possible issues in another thread: #7. Have a look and let others know if you manage to make things working.

[2015-07-29 11:19] #17 closed

[2015-07-30 18:38] cchenship commented on #15
Same problem here. @ukebako did you eventually solve the issue?

[2015-08-01 07:56] ukebako commented on #15
Actually adding \n at the end of expression was enough for me. I just grab what I need from the output.

[2015-08-04 15:44] cchenship commented on #15
Thanks, @ukebako , the "\n" trick did work for me except the leading "options(error=expression(NULL))".
I was wondering whether you were able to remove that leading string.
But, anyhow, you trick helped a lot.

[2015-08-13 13:03] yooper opened #18 "Lines with white space halt R process"
I have noticed passing a set of commands via the run command is finicky. If there is an empty line, just a newline or a line contains just white space, the commands will not process.

[2015-11-25 06:40] tallsam commented on #15
I commented out line 45 in `CommandLineRProcess.php` but I doubt that is the correct solution

[code]

[2016-05-03 17:27] collmomo opened #20 "Exchanging data from array"
Let's say you have an array with around 1 million row, is there an easy way to load that in R using your library or do I have to write to a csv, then write a R script and tell it to open that .csv.

[2016-05-05 08:28] kachkaev commented on #20
Hi @collmomo! Yes, I would do it this way, using CSV file. Using PHPR is similar to talking to R via the console. It is unlikely that someone would want to copy and paste 1 million rows as a single string and then feed R that way.

When you generate a CSV file in PHP, you often can do this line-by-line. This will require less memory and will thus make the script more robust.

[2016-05-05 08:28] kachkaev commented on #20
Please close this issue if you are satisfied with the answer :–)

[2016-05-08 13:36] #20 closed

[2016-07-05 16:21] irenge commented on #15
ohkay . how to make it work on fedora 24 too?

[2016-08-25 14:24] AsrRajiv opened #21 "PHP Fatal error: Class 'Kachkaev\\PHPR\\RCore' not found in /var/www/html/R_lib/index.php on line 5"
Hi,

I have downloaded the zip file and extracted.When i run the file it showing 500 Internal server error. I have followed some of the tweaks that we should use autoload.php. I am not clear. Can any help me?

[2016-08-25 15:18] kachkaev commented on #21
Hi @AsrRajiv,

Can you try installing the library using composer? This is the standard way to add libraries to your code. You won't need to tweak autoload.php yourself then.

[2016-08-26 09:42] AsrRajiv opened #22 "PHP Fatal error: Class 'src\\Kachkaev\\PHPR\\RCore' not found"
Hi,

As you have said i have downloaded composer.phar file and saved in my path and installed the compose.phar using "php composer.phar install --no-dev".It's installed and i have got vendor folder. Inside vendor folder i can now able to find "autoload.php". But it's not working.still i am facing **500 Internal Server Error** i have copied the composer folder and autoload.php from vendor folder an

[2016-08-26 10:29] kachkaev commented on #22
Can you try replacing use \src\Kachkaev\... with use Kachkaev\...?

On Friday, 26 August 2016, AsrRajiv <notifications@github.com> wrote:

[2016-08-26 10:36] AsrRajiv commented on #22
Hi,

Thankyou!!!
We have connected the library. I want to know how to pass php array to R . I used serialize in php to convert to string. but i am not sure R is receiving. Can u help me how to  receive an array in R from php.

[2016-08-26 10:43] kachkaev commented on #22
The library lets you to exchange text with R just as you are doing in a command line. If you would like to pass an array, you'll first need to convert it from a PHP array to some string that can be understood by R. The same is for the data that is being received from R to PHP - it's just a text.

There are a couple of functions in [ROutputParser.php](https://github.com/kachkaev/php-r/blob/master/s

[2016-08-26 16:11] #22 closed

[2016-08-26 23:44] kachkaev commented on #21
For someone who is facing something similar, please see https://github.com/kachkaev/php-r/issues/22

[2016-08-26 23:44] #21 closed

[2016-10-19 05:59] giriannamalai opened #23 "Not working in php7"
I cloned and tried to run. but it's saying, It only support php 5.3 . what can i do

[2016-10-19 12:50] kachkaev commented on #23
Hi @giriannamalai, thanks for reporting the issue. Can you try editing `composer.json` by replacing `"php": "~5.3"` with `"php": ">=5.3"`? If it works in PHP 7 afterwards, I'll update this dependency on master.

If your issue is not related to `composer.json`, what error are you seeing?

[2016-10-21 15:00] kachkaev commented on #23
I believe that this was closed by #24. Let's reopen this issue again if something is still not working in PHP 7.

[2016-10-21 15:00] #23 closed

[2016-10-21 15:05] garak commented on #23
I can confirm that php7 is working now

[2016-12-14 19:02] gb5256 opened #25 "rCore not found after composer update"
Hi,
I have run a composer update and now (without changing anything else) I get this error:
Class 'Kachkaev\PHPR\RCore' not found

It did work before normal, what has changed?

gb5256

[2016-12-14 19:26] kachkaev commented on #25
Can it be related to how your composer's autoloader is working? I also had this pretty pity error in Symfony projects and it turned out that php's autoload in vendor was not generating correctly. It may be relevant to "autoload" section in package.json.

If you find a solution, could you please share what has happened?

[2016-12-14 20:13] gb5256 commented on #25
autoload_psr4 shows this:

     'Kachkaev\\PHPR\\' => array($vendorDir . '/kachkaev/php-r/src'),

but should show this:

     'Kachkaev\\PHPR\\' => array($vendorDir . '/kachkaev/php-r/src/Kachkaev/PHPR'),

The composer takes this info from you composer.json:

       "autoload": {
        "psr-4": {
            "Kachkaev\\PHPR\\": "src"
        }
    },

My knowledge about composer is not good enou

[2016-12-15 09:29] kachkaev commented on #25
Not sure why this happens, unfortunately. I'm not a big expert in PHP's autoloading, it often confuses me too. In any case, I suppose that this is some general problem related to how things are configured in your composer file. Wish you luck!

[2016-12-15 17:04] gb5256 opened #26 "ROutputParser is parsing NA as 0"
Hi,
please check this function:

    public function singleNumber($output)
    {
        //TODO properly check if r output is a valid number
        return 0 + substr($output, 4);
    }

The problem is that if the return from R is like this:
[0] NA
the script will return "0".
But 0 is something else than NA, right?

gb5256

[2016-12-15 18:37] kachkaev commented on #26
Yeah, it should probably return null in this case. Could you please submit a PR?

[2017-03-09 21:43] #25 closed

[2017-03-09 21:48] kachkaev commented on #25
Hi @gb5256, there're probably good news to share – #27 must have fixed your bug, thanks to @ghola! Let know if you still experience issues – this might help others who use php-r in their work!

[2017-03-21 04:00] andyG8 opened #28 "Large strings cause IncompleteRCommandException"
I am passing JSON data from PHP to R as

`$rProcess->write("t1<-fromJSON('$ser_j', simplifyVector = TRUE, simplifyDataFrame=TRUE)");`

It works fine on relatively short strings $ser_j (tested up to 130-150 3-digit numbers in a string). But for larger strings, it returns an error:

It looks as large strings are truncated and the R command line becomes incomplete.
My questions:
1. Is there any limit

[2017-03-21 09:44] kachkaev commented on #28
Hi @andyG8!

Thanks for reporting all this. Will try to answer:

1. I believe that yes, there is a limit in how much you can pass to php-r directly. The library is just a thin command line wrapper, so I believe the limit depends on your CLI.

2. MySQL can be an option, yes. What you can also try is just to ask R to open a specific file by its path. If the R interpreter is on the same machine (whic

[2017-03-21 21:27] andyG8 commented on #28
Hi Alexander,

Thank you, the IncompleteCommandException has been fixed. I am using the MySQL option to pass large data sets and it works perfectly fine.

Cheers,
Andy

[2017-03-21 21:27] #28 closed

[2017-04-07 04:43] rootkea opened #29 "How can I execute a R script and pass a vector from it to PHP?"
More specifically, I have R script which accepts an argument, does some processing and prints/generates a numeric vector as final output. How can I execute that R script and return that final numeric vector to PHP to store it in a PHP array?

[2017-04-11 11:39] kachkaev commented on #29
Hi @rootkea. As php-r just gives you are bridge to the R's console, you are free to read and write vectors as you would do this manually yourself. There is a helper method for that https://github.com/kachkaev/php-r/blob/master/src/Kachkaev/PHPR/ROutputParser.php#L38, which you are free to improve.

If a vector is too large for stdin/stdout, you can tell R to save it and then read the resulting fil

[2017-04-19 05:58] Marat1995 opened #30 "Js support"
Hello.
Can you add support for js?

[2017-04-19 08:40] kachkaev commented on #30
Hi Marat,

I believe this is out of the library's scope, but feel free to implement one and share below! BTW there might exist such a package already: https://www.npmjs.com/browse/keyword/R

[2017-04-19 08:40] #30 closed

[2017-04-19 08:41] kachkaev commented on #29
Closing this issue due to inactivity, but feel free to continue the discussion if you want.

[2017-04-19 08:41] #29 closed

[2017-05-22 14:26] tuupola opened #31 "Tag a release"
Could you tag a release, for example `0.1.0`.  I would like to use this package as part of a library I am developing. Cannot use `dev-master` because it is not guaranteed to brake.

[2017-05-22 19:14] kachkaev commented on #31
Thanks for your suggestion @tuupola! I've tagged the latest commit on master as `v1.0.0` (the library has been more or less stable for a while). Let know if anything has not worked for you – we’ll have a look!

[2017-05-22 19:14] #31 closed

[2017-05-28 15:40] fati777 opened #32 "There is no extension able to load the configuration for "kachkaev_php_r" (in C:\wamp\www\dashboard_cgi\app/config\config.yml). Looked for namespace "kachkaev_php_r", found , "kachkaev_phpr","
Im triying to install this bundle, it seems very interesting but I failed , can you help me please to solve this issue: ->"There is no extension able to load the configuration for "kachkaev_php_r" (in C:\wamp\www\dashboard_cgi\app/config\config.yml). Looked for namespace "kachkaev_php_r", found , "kachkaev_phpr""
 Im working with symfony 3 and this is my services.yml:
`services:
     kachkaev_php_

[2017-05-29 10:59] kachkaev commented on #32
Hi @fati777

Have you been trying this packaged or [KachkaevPHPRBundle](https://github.com/kachkaev/KachkaevPHPRBundle) instead? I'd recommend the latter, because its a proper Symfony bundle sitting on top of php-r.

Let know how things are after you try the bundle!

[2017-05-31 12:37] fati777 commented on #32
hi @Alexander Kachkev
do you know? , I realy need this bridge to do the forecast with R .and I
realy appreciate your work I have been try the package that you recommend
https://github.com/kachkaev/KachkaevPHPRBundle. But it is not working

2017-05-29 11:59 GMT+01:00 Alexander Kachkaev <notifications@github.com>:

[2017-05-31 17:38] kachkaev commented on #32
Could you please share some details of the error you are facing?

[2017-06-01 22:52] fati777 commented on #32
ok , with great pleasure, I will give you more details
first I m working with symfony 3 , and to dowload your library , I edit my composer.json with:
"kachkaev/php-r-bundle": "dev-master", then I execute the command:
$ php composer.phar update kachkaev/php-r-bundlle, my cofiguration is(config.yml):
kachkaev_php_r:
    default_enginge: command_line    # default R engine (command_line is the only on

[2017-06-12 17:47] emiliogh commented on #7
Hi, i run the code in laravel 5.2 but only works sometimes, What could be the error?
 thanks

[2017-06-15 07:46] kachkaev commented on #32
@fati777 could you please reinstall `kachkaev/php-r-bundle` at `v2.1` and try again? Should be fixed now. Two things to keep in mind:
*   `kachkaev_php_r`renamed to `kachkaev_phpr`
*   there was a typo in readme for `default_engine` (I incorrectly spelled it as `default_enginge`)

Let me know if the config is still invalid, I'll reopen this issue. New issues related to the Symfony bundle can go di

[2017-06-15 07:47] #32 closed

[2017-08-24 13:42] gitbobo opened #33 "Class 'Kachkaev\PHPR\Engine\AbstractREngine' not found"
Fatal error: Class 'Kachkaev\PHPR\Engine\AbstractREngine' not found in /home/websites/test/www/src/Kachkaev/PHPR/Engine/CommandLineREngine.php on line 7
I am using centos 6,composer1.51.
Do you use exec() to run R script?

[2017-08-24 13:58] kachkaev commented on #33
Hi @gitbobo! Sorry to hear that. Do you think your issue can be similar to https://github.com/kachkaev/php-r/issues/22?

If you can't solve the problem by tweaking the way you autoload and import the classes, please paste your code here.

The library uses a child PHP process, details here: https://github.com/kachkaev/php-r/blob/master/src/Kachkaev/PHPR/Process/CommandLineRProcess.php

[2017-08-25 01:59] gitbobo commented on #33
Hi@kachkaev,thanks for your reply!
I still figure this problem,it seemed related to framework, it's ok with symfony, but there's something wrong with yii.
May I ask a question,compare to exec(), what's the advantage of php-r?
It seemed exec() can do everything php-r can do

[2017-08-25 09:00] kachkaev commented on #33
I think the advantages depend on your task. If you simply want to execute a static R file from PHP, then just `exec()` is probably enough. However, when it comes to customizing the input or parsing the output, the library becomes quite useful as it saves you from implementing a lot of low-level stuff.

Good luck with that! Feel free to share your findings here so that others could take a shortcut!

[2017-08-25 09:00] #33 closed

[2017-12-04 14:25] kachkaev commented on #18
@yooper could you please have a look at #35 and check if that fixes your issue? Please send a ping if you can't do this too so that we did not wait 😉

[2017-12-04 14:27] kachkaev commented on #14
Hey guys,

Looks like @Cedroux has brought a solution for this long-standing issue – see #35. Could you please try it and share your experience below?

[2018-03-08 06:40] msheranga opened #36 "is there a way to execute R script in the php file"
I am trying to find the way connect R and php file. but i was unable. i used php exec() function also but it is not gives the output please help

[2018-03-08 06:52] kachkaev commented on #36
Hi @msheranga! Could you please share the code you are trying to run or generate a small similar example?

[2018-03-08 12:01] msheranga commented on #36
thanks.
#test1.R
print("R programming")

#php file

<?php
$a=exec("Rscript C:/wamp64/www/test/test1.R");
var_dump($a);
?>
but there is no output

[2018-03-08 12:28] kachkaev commented on #36
@msheranga please have a look at the examples in [this repo's README.md](https://github.com/kachkaev/php-r) on how to use `php-r`. I don't see any mentioning of ` Kachkaev\PHPR\...` in your example, which means that you are not using the library. If you have any issue with [`php-r`](https://github.com/kachkaev/php-r) (not just combining PHP and R), feel free to further comment on this issue.

[2018-03-08 12:28] #36 closed

[2018-03-18 09:41] mikaelc opened #37 "Issue with logistic regression expression (tilde issue ?)"
Hi,

Thanks for your beautiful library !
I have an issue with this specific command :

`reg<-glm(col0~.,data=a,family=binomial(logit))`

Every other command works well but as soon as I add this one, I get an error "The last command in the R input is not complete"

Maybe it comes from the ~ character ? I tried to addslashe it or escape it \ but without success

Would you have an idea ?

Thanks a lo

[2018-03-18 10:07] kachkaev commented on #37
Hi Mikaël, thanks for reporting this.

To be honest, I won't be able to find time for investigation, but if you find a cause ans submit a PR, I'll be happy to accept it.

[2018-03-20 12:40] hpiMat opened #38 "Laravel 5.4 unable to use php-r"
Hello,
After searching all topics I still wasn't able to use php-r in my project.

I used composer to install
        "kachkaev/php-r": "^1.0"
Which should take care of creating the namespace for your classes.

When i run the basic example :

[code]

Whatever the path, it only points out he doesn't have the Classes landing to the following code
`
PHP Fatal error:  Class 'Kachkaev\PHPR\Engine\Comma

[2018-03-20 12:44] kachkaev commented on #38
Hi Matthieu,

I haven't used Laravel so I'm not sure what the problem is. Are you using `eval()` in your PHP code is is this done internally by Laravel?

I guess the best place for you to get help from is Laravel's community – hope they have Slack or something similar. I doubt that the issue is to do with `php-r`, because it's `psr-0`-compatible.

Good luck! Give a shout here once you've sorted th

[2018-03-20 13:03] hpiMat commented on #38
Ok! i will try to find out how to convert the path to be psr-4 compatible.
I checked and only psr-4 autoload are loaded

[2018-03-20 13:05] kachkaev commented on #38
We once upgraded this library to psr-4 https://github.com/kachkaev/php-r/pull/24, but then had to revert it https://github.com/kachkaev/php-r/pull/27. Sharing this just to give you some context.

[2018-03-20 14:24] hpiMat commented on #38
Didn't find the answer I wanted to make it beautiful.
I just added the php script inside my projects and autoloaded them in:
"autoload": {
        "psr-4": {
            "App\\": "app/",
            "Kachkaev\\":"app/Addition/Kachkaev/"
        }
    }
Not the best way since it might not be durable in time.
I don't know where the library is located after being built by composer.
If i knew that i c

[2018-03-20 14:41] kachkaev commented on #38
Good to know, thank you. I'll close this issue for, but am happy to continue the discussion if anyone wants to contribute a proper fix.

[2018-03-20 14:41] #38 closed

[2018-07-17 09:26] dipenpatel235 opened #39 "php-r stuck at below output"
Output:
root@localhost> php -f hello-world.php
/root/php-r/hello-world.php:9:
string(8) "./test.R"
/root/php-r/hello-world.php:11:
class Kachkaev\PHPR\RCore#3 (1) {
  private $rEngine =>
  class Kachkaev\PHPR\Engine\CommandLineREngine#2 (1) {
    private $rCommand =>
    string(8) "test.R"
  }
}

after executing it is stuck on above output

below is php code
`<?php
require "vendor/autoload.php";
u

[2018-07-18 07:05] kachkaev commented on #39
Hi @dipenpatel235! Does this happen every time or at random?

[2018-07-18 07:06] dipenpatel235 commented on #39
Everytime.

On Wed, Jul 18, 2018, 12:35 PM Alexander Kachkaev <notifications@github.com>
wrote:

[2018-07-18 07:10] kachkaev commented on #39
Ah here is the where the issue is coming from I guess:

[code]

`$mypath` should point to your R binary rather than some R file. If you are on macos / linux, you should be able to determine this path by typing `which R` in a terminal.

[2018-07-18 07:13] dipenpatel235 commented on #39
R is on
/use/bin/R

On Wed, Jul 18, 2018, 12:40 PM Alexander Kachkaev <notifications@github.com>
wrote:

[2018-07-18 09:09] kachkaev commented on #39
So I guess your solution is to use:

[code]

I'll close this issue for now, but am happy to continue the discussion my solution does not help.

[2018-07-18 09:09] #39 closed

[2018-07-18 09:48] dipenpatel235 commented on #39
Ohk ..

Got it.
I think in that need to pass R file created by me.

Thanks

On Wed, Jul 18, 2018, 2:39 PM Alexander Kachkaev <notifications@github.com>
wrote:

[2018-07-21 07:08] dipenpatel235 commented on #39
Hello..
I have done that now but now again issue is like u have asked above.
it is stuck everytime or random ?

Not it is stuck mostly ..only some times it is working..

SO what is solution of that to run everytime ?

Thanks

[2018-07-21 13:16] dipenpatel235 opened #40 "how I can display plot?"
hello,

I have written small plot barchart R code.
now i want to execute that code using your library so how I can see Plot generated by R on php webpage?
please check below code :-

[code]

Thanks

[2018-07-21 15:35] kachkaev commented on #40
Hi @dipenpatel235. I am afraid that this is impossible directly, because PHP and R only exchange text. However, what you can get an image if you save your boxplot to a file with R code and then read that PNG in PHP.

I'll close this issue as it is a question rather than a bug report, but feel free to add more comments.

[2018-07-21 15:35] #40 closed

[2018-07-21 15:38] kachkaev commented on #39
I'm afraid you are hitting the same error as has been reported in https://github.com/kachkaev/php-r/issues/7. It affects only some people and is likely to do with some low-lever I/O stuff that I don't quite understand. If you know how PHP sends and receivers data when it comes to sub-processes, I'll be glad to consider a PR!

[2018-08-01 06:25] dipenpatel235 opened #41 "stuck in generate csv file"
Hello..
Below sample code in it is not able to write in csv file. (yes already root user and permission)
so can you try that sample code and check it working or not ?
sapereate R code is working fine.
Only issue is when i put that saperate code with php and your library then it is not working.
Below is sample code used by me.

https://pastebin.com/raw/8xw0Af2q

[2018-08-01 09:22] kachkaev commented on #41
@dipenpatel235 it may be that the R sub-process is spawned for a different user. Can you try getting your username within R code (e.g. using [whoami](https://github.com/r-lib/whoami))?

[2018-08-01 09:36] dipenpatel235 commented on #41
i am executing php file as root user.

On Wed, Aug 1, 2018 at 2:52 PM Alexander Kachkaev <notifications@github.com>
wrote:

--
Thanks & Regards

Dipen Patel
Mo : +91 9909013212
email:dipen.ec2010@gmail.com <Email%3Adipen.ec2010@gmail.com>

[2018-08-01 09:48] dipenpatel235 commented on #41
seems below code also not executing...

https://pastebin.com/raw/5E0cY9dp

[2018-08-01 10:46] kachkaev commented on #41
What does the error say?

[2018-08-01 11:21] dipenpatel235 commented on #41
not getting error...
i

so not getting any idea

On Wed, Aug 1, 2018 at 4:16 PM Alexander Kachkaev <notifications@github.com>
wrote:

--
Thanks & Regards

Dipen Patel
Mo : +91 9909013212
email:dipen.ec2010@gmail.com <Email%3Adipen.ec2010@gmail.com>

[2018-08-01 11:24] dipenpatel235 commented on #41
not getting error...
so not getting any idea

it is stuck in that and that file content is same as paste in past .

here below screenshot is i am executing php file

On Wed, Aug 1, 2018 at 4:51 PM Dipen Patel <dipen.ec2010@gmail.com> wrote:

--
Thanks & Regards

Dipen Patel
Mo : +91 9909013212
email:dipen.ec2010@gmail.com <Email%3Adipen.ec2010@gmail.com>

[2018-08-01 13:53] #14 closed

[2018-08-01 14:01] kachkaev commented on #41
If the process halts and then timeouts, the problem may be to do with I/O between PHP and R then. This was once fixed in https://github.com/kachkaev/php-r/pull/35, but may be ongoing.

Unfortunately, I'm not sure how to fix this if I/O is the cause as this is too low-level for me. Feel free to try inspecting what gets stuck and submit a PR if you notice a bug. Most likely, the issue with I/O will

[2018-08-02 06:12] dipenpatel235 commented on #41
ok...
if i will found something related error log and then give update to you.

Thanks

[2018-08-02 18:28] marco86to opened #42 "compatible with R version 3.4.4 (2018-03-15)?"
Hello, thanks for you nice and useful work!

I have installed R  version 3.4.4 (2018-03-15) on Ubuntu 16.04.5 LTS. I have installed your class trough composer and upgrade it to the dev-master version.

I then run a basic php script:
`ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);

require 'vendor/autoload.php';

use Kachkaev\PHPR\RCore;
use Kachkaev\PHP

[2018-08-02 20:02] kachkaev commented on #42
Hi @marco86to, sorry to hear this! I believe that the issue is to do with I/O between PHP and R and unfortunately I don't know how to fix it. A similar problem was reported recently by @dipenpatel235 in https://github.com/kachkaev/php-r/issues/41.

Could you please help me with investigating? I'll be happy to accept a PR with the fix!

[2018-08-03 09:26] marco86to commented on #42
Hi @kachkaev,  thanks for your fast reply. I have done some tests and just comment the following while circle on https://github.com/kachkaev/php-r/blob/master/src/Kachkaev/PHPR/Process/CommandLineRProcess.php:

`// Skip the startup message (if any)
        do {
            $out = fread($this->pipes[1], $this->infiniteLength);
            usleep($this->sleepTimeBetweenReads);
        } while ($out

[2018-12-27 01:54] samaya6529 commented on #38
I need to install php-r under the laravel environment.    I've installed the php-r using the command: "composer require kachaev/php-r" and I got the following message:

However, the Kachkaev Class still could not be found/included using:

_**use Kachkaev\PHPR\RCore;
use Kachkaev\PHPR\Engine\CommandLineREngine;**_

What step did I miss?
Below is my composer.json file:

_**{
    "name": "laravel/lar

[2019-06-11 17:59] Kamakazi152 opened #43 "R script that expects parameters"
I am having some trouble finding the syntax on how to call an R script and pass it the parameter it is expecting from a PHP function. I basically have a script that is expecting a json object and I am not sure how to call it and send it that object in order to get the data back.

[2019-06-11 19:17] kachkaev commented on #43
Hi Kamakazi152, I'm sorry but I don't maintain the project any more. If your tech stack is not frozen, feel free to reconsider the building blocks in your project. This link may be a good place to find your way around:
https://github.com/kamranahmedse/developer-roadmap/

[2019-06-11 19:17] #43 closed, assigned to nobody